
.product-items {
  
  display: flex;
  justify-content:left;
  align-items: left;
  width: auto;
  padding-top:20px;
}

.product{

  position: relative;
  width: 80px;
  padding-bottom: 10px;

}
.button{
  padding-left: 2px;
  margin: 1px;
  display: flex;

}
.item-form{
  position: absolute;
  align-items: right;
  right: 0;
  display: flex;
  bottom: 0px;
  
  
}