
.product-items {
  
  display: flex;
  justify-content:left;
  align-items: left;
  width: auto;
  padding-top:20px;
  padding-left: 30px;
}

.product{

  position: relative;
  width: 80px;
  padding-bottom: 10px;

}
.button{
  padding-left: 2px;
  margin: 1px;
  display: flex;

}
.item-form{
  position: absolute;
  align-items: right;
  right: 0;
  display: flex;
  bottom: 0px;
  
  
}
.Update{
  display: inline-block;           
    margin: 10px 0;
    padding-right:6px;
}
.checkout{
  display: inline-flex;           
    margin: 10px 0;
    padding-left:870px;
    

}
.Empty_headder{
  display: flex;
  justify-content:left;
  align-items: left;
  width: auto;
  padding-top:10px;
  padding-left: 30px;
  
}