
.product-items {
  display: inline;
  
  justify-content:center;
  align-items: center;
  width: auto;
  padding-left:200px;
  padding-top:20px;
}

.product{

  padding-left:10em;
  border: 5px solid green;
  width: 800px;
  padding-bottom: 10px;

}
.button{
  padding-left: 2px;
  margin: 2px;
  display: flex;

}
.item-form{
  align-items: left;
}